<!DOCTYPE html>

<html>
  <head>
    <title> Dyanmic dice! </title>
  </head>

  <body>
    <h1><%=@num_dice%>d<%=@sides%> </h1>

    <ul>
      <% @rolls.each do |roll| %>
      <li> <%= roll %> </li>
      <%end%>


    </ul>
  </body>

  </html>
